<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <title>Blog example</title>
  </head>
  <body>
    <ul>
      <li><a href="/blog/foo">Foo</a></li>
      <li><a href="/blog/bar">Bar</a></li>
    </ul>
  </body>
</html>
