<% cms.block('nav', function({text, el}) { %>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="/"><%- el('home') %></a></li>
      <li><a href="/blog/post1"><%- el('blog1') %></a></li>
      <li><a href="/blog/post2"><%- el('blog2') %></a></li>
    </ul>
  </nav>
<% }); %>