<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><a data-wurd="nav.home" href="/"><%= t('nav.home') %></a></li>
    <li><a data-wurd="nav.blog1" href="/blog/post1"><%= t('nav.blog1') %></a></li>
    <li><a data-wurd="nav.blog2" href="/blog/post2"><%= t('nav.blog1') %></a></li>
  </ul>
</nav>